body {
  background-color: #EA595B;
  padding: 25px;
}

h1.title{
  font-family: "pokemon-font", monospace;
  -webkit-font-smoothing: none;
}

ul.header li {
  display: inline;
  list-style-type: none;
  font-family: "pokemon-font", monospace;
  -webkit-font-smoothing: none;
  margin: 0;
}

ul.header li a {
  color: #FFF;
  font-weight: bold;
  display: inline-block;
  padding: 20px;
}

ul.header {
  background-color: #5995ea;
  outline: 5px solid black;
}

img.ball {
  position: relative;
  float: right;
  bottom: 100px;
}

img.char {
  position: relative;
  float: right;
  left: 100px;
  top: 5px;
}

img.squirt {
  position: relative;
  float: left;
}

img.bulb {
  position: relative;
  float: left;
  left: 50px;
}

img.pik {
  position: relative;
  float: right;
  left: 100px;
}

div.content {
  font-family: "pokemon-font", monospace;
  -webkit-font-smoothing: none;
}

div.result {
  text-align: center;
}
